In [2]:
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [3]:
data = pd.read_csv("Nashville_housing_data_2013_2016.csv")

In [4]:
data.head()

,Unnamed: 0,Unnamed: 0.1,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,...,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
0,0,0,105 03 0D 008.00,RESIDENTIAL CONDO,1208 3RD AVE S,8,NASHVILLE,2013-01-24,132000,20130128-0008725,...,nan,nan,nan,NaN,nan,NaN,NaN,nan,nan,nan
1,1,1,105 11 0 080.00,SINGLE FAMILY,1802 STEWART PL,NaN,NASHVILLE,2013-01-11,191500,20130118-0006337,...,"134,400.00","168,300.00","1,149.00",PT BSMT,"1,941.00",BRICK,C,2.00,1.00,0.00
2,2,2,118 03 0 130.00,SINGLE FAMILY,2761 ROSEDALE PL,NaN,NASHVILLE,2013-01-18,202000,20130124-0008033,...,"157,800.00","191,800.00","2,090.82",SLAB,"2,000.00",BRICK/FRAME,C,3.00,2.00,1.00
3,3,3,119 01 0 479.00,SINGLE FAMILY,224 PEACHTREE ST,NaN,NASHVILLE,2013-01-18,32000,20130128-0008863,...,"243,700.00","268,700.00","2,145.60",FULL BSMT,"1,948.00",BRICK/FRAME,B,4.00,2.00,0.00
4,4,4,119 05 0 186.00,SINGLE FAMILY,316 LUTIE ST,NaN,NASHVILLE,2013-01-23,102000,20130131-0009929,...,"138,100.00","164,800.00","1,969.00",CRAWL,"1,910.00",FRAME,C,2.00,1.00,0.00

In [7]:
data[['Year Built', 'Finished Area']]

                Year Built        Finished Area
0                      nan                  nan
1                 1,941.00             1,149.00
2                 2,000.00             2,090.82
3                 1,948.00             2,145.60
4                 1,910.00             1,969.00
...                    ...                  ...
56631                  nan                  nan
56632                  nan                  nan
56633                  nan                  nan
56634                  nan                  nan
56635                  nan                  nan

[56636 rows x 2 columns]

In [8]:
data['Sale Price']

0        132000
1        191500
2        202000
3         32000
4        102000
          ...
56631    210000
56632    338000
56633    742000
56634    320000
56635    330000
Name: Sale Price, Length: 56636, dtype: int64

In [11]:
clean_data = data[(~data['Sale Price'].isna()) & (~data['Year Built'].isna()) & (~data['Finished Area'].isna())]

In [5]:
from sklearn import linear_model

In [6]:
model = linear_model.LinearRegression()

In [21]:
model.fit(clean_data[['Year Built', 'Finished Area', 'Total Value']], y=clean_data['Sale Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
model.predict([[1941, 1200]])

array([203263.13211302])

In [22]:
y_pred = model.predict(clean_data[['Year Built', 'Finished Area', 'Total Value']])

In [16]:
from sklearn import metrics

In [20]:
metrics.mean_squared_error(y_pred, clean_data['Sale Price'])

58166647758.5299

In [23]:
metrics.mean_squared_error(y_pred, clean_data['Sale Price'])

31203908552.369736